.main {
	.container {
		.contact_info_page {
			position: relative;
			.block {
				background-color: #CABFE1;
			}
		}
	}
}

.contact_form {
	background-color: white;
	position: absolute;
	z-index: 10;
	width: 60%;
	bottom: 10%;
	padding: 40px 60px;
	input[type=text],
	input[type=email],
	textarea{
	border: transparent;
	border-bottom: 2px solid black;
	width: 100%;
	}
	input[type=submit] {
		background-color: transparent;
		border: transparent;
		border-bottom: 2px solid black;	
		text-transform: uppercase;
		margin-top: 25px;
		transition: ease color .3s;
		&:hover {
			color: #838E86;
		}
	}
	label {
		color: grey;
	}
}

.contact_image {
	width: 80%;
	float: right;
	position: relative;
	margin-bottom: 50px;
	position: relative;
	img {
		position: relative;
	}
}

.contact_info {
	position: absolute;
	z-index: 20;
	color: white;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	right: 80px;
	font-size: 12px;
	text-transform: uppercase;
	background-color: rgba(0,0,0, .5);
	padding: 60px 30px;
	div {
		margin-top: 30px;
		&:first-of-type {
			margin-top: 0;
		}
	}
	div.country {
		margin: 0;
	}
	div.address {
		&:after {
			content: " ";
			width: 20px;
			height: 1px;
			background-color: white;
			display: block;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 110px;
		}
	}
	div.phone {
		&:after {
			content: " ";
			width: 20px;
			height: 1px;
			background-color: white;
			display: block;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 90px;
		}
	}

}





