@media (max-width: 950px) {
	.contact_form {
		position: relative;
		width: 100%;
		margin-bottom: 20px;
	}
	.contact_image {
		width: 100%;
		.contact_info {
			right: 50%;
		}
	}
}

@media (max-width:850px) {
	.main {
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.image-box {
				width: 100%;
			}
			.content-box {
				position: relative;
				top: 0;
				width: 100%;
				margin-bottom: 70px;
			}
			.contains_absolutes {
				.content-box {
					position: relative;
					margin-bottom: 0;
				}
				.image-box {
					width: 100%;
					margin-bottom: 50px;
					img {
						min-height: 0px;
					}
				}
			}
		}
		.rectangle {
			width: 100%;
			&:after {
				display: none;
			}
		}
	}
	.employee_gallery {
		justify-content: center;
		margin-bottom: 50px;
		.employee_item {
			width: 55%;
			margin-bottom: 60px;
		}
	}
	.main {
		.container {
			padding-bottom: 0;
			.testimonies {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				.content-box {
					position: relative;
					left:0;
					top:0;
					min-width: 250px;
					max-width: 350px;
					padding: 30px;
				}
				img {
					margin: 0 auto;
				}
			}
		}
	}
}

@media (max-width: 750px) {
	.hero {
		background-attachment: scroll;
	}
	.stats_box {
		background-attachment: scroll;
	}
	.page_info_header-about,
	.contact_info_page,
	.page_info_header-blog {	
		.block {
			p {
			left: 34%;
			top: 100%;
			&:before {
				top: -27px;
				left: 20px;
				transform: rotate(90deg);
				}
			}
		}
	}
	.contact_info_page {
		.block {
			margin: 0 auto 150px;
		}
	}
}

@media (max-width: 700px) {
	.blog-content {
		.single_post {
			flex-direction: column;
			.post_text {
				width: 100%;
				padding: 8% 50px;
				p{
					margin-bottom: 0;
				}
			}
			.post_image {
				width: 100%;
				height: 220px;
			}
		}
	}
}

@media (max-width: 600px) {
	header {
		.container {
			    flex-direction: column;
			    justify-content: center;
			    width: 95%;
			.nav-logo {
				width: 100%;
				text-align: center;
				padding-bottom: 15px;
			}
			.nav-menu {
				width: 100%;
				display: flex;
				justify-content: center;
			}
		}
	}
	.stats_box ul{
		flex-wrap: wrap;
		li {
			width: 50%;
		}
	}
	.main {
		.employee_gallery {
			.employee_item {
				width: 70%;
				margin-bottom: 80px;
			}
		}
	}
	.contact_image {
		.contact_info {
			padding: 10px 15px;
		}
	}
	footer {
		.back_to_top {
			transform: rotate(0deg);
			position: relative;
			right: 0;
			i {
				transform: rotate(270deg);
			}
		}
	}
}

@media (max-width: 500px) {
	.blog-content {
		.single_post {
			.post_text {
				padding: 7% 30px;
			}
		}
	}
}

@media (max-width: 450px) {
	.contact_image {
		.contact_info {
			position: relative;
			left: 0;
			top: 70px;
		}
	}
}

@media (max-width: 340px) {
	header {
		.container {
			width: 100%;
		}
	}
}




